    /* Normalize */
    body {
        font-family: 'Roboto', sans-serif;
        /* background-color: #F0E8E5; */
        margin: 0;
        padding: 0;
    }

    html {
        background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
        background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    }

    /* Contenedor padre */
    .container {
        width: 100%;
    }

    .header {
        border: 0.1px #C1292E solid;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .title {
        border: 0.1px #C1292E solid;
        background-color: #F0E8E5;
        display: flex;
        justify-content: space-evenly;
        gap: 0px;
        align-items: center;
        box-shadow: #FFFFFF -5px 5px, #C1292E -10px 10px;
        border-radius: 20px;
        padding: 20px 50px;
        height: 40%;
        width: 60%;
    }

    .title:hover {
        width: 65%;
    }

    .content {
        border: 0.1px #C1292E solid;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        height: 50px;
    }

    .play {
        border: 0.1px #C1292E solid;
        background-color: #F0E8E5;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
        align-items: center;
        box-shadow: #FFFFFF -5px 5px, #C1292E -10px 10px;
        border-radius: 20px;
        padding: 20px 50px;
        height: 10%;
        width: 10%;
    }

    .play:hover {
        width: 15%;
    }

    .play_icon {
        height: 20px;
    }

    /* Modal estilos */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .modal-content p {
        color: red;
        font-weight: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teams{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
    }

    /* btn done */
    .done_btn {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

    .done_btn:hover,
    .done_btn:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .done_btn:active {
        opacity: .5;
    }